<h1>{{app.name}}</h1>
<div class="app-detail">
  <img src="/uploads/icons/{{app.icon}}" alt="{{app.name}}" width="150">
  <p>{{app.description}}</p>
  <h3>截图</h3>
  <div class="screenshots">
    {{#each app.screenshots}}
      <img src="/uploads/screenshots/{{this}}" alt="Screenshot" width="200">
    {{/each}}
  </div>
</div>
